<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div style="display: flex;">
            <form action="/boardList" method="post">
                <input type="submit" value="getAllData">
            </form>
            <form action="/boardList/category/1" method="GET">
                <input type="submit" id="category1"  value="category1">
            </form>
            <form action="/boardList/category/2" method="GET">
                <input type="submit" id="category2"  value="category2">
            </form>
            <form action="/boardList/category/3" method="GET">
                <input type="submit" id="category3"  value="category3">
            </form>
            <form action="/boardList/category/4" method="GET">
                <input type="submit" id="category4"  value="category4">
            </form>
            <form action="/addPost" method="GET">
                <input type="submit" value="AddPost">
            </form>
            <form action="/boardList/search" method="post">
                <input type="text" name="searchValue" id="searchValue" required>
                <input type="submit" value="Search">
            </form>
        </div>
        <br>
        <% if(locals.data){ %>
            <% for(let i=0;i<data.length;i++){ %>
                <%= data[i].idx %>/<a href="/boardList/<%=data[i].idx %>"><%= data[i].title_ %></a>/<%= data[i].name %>/<%= data[i].category %><br><hr>
            <% } %>
        <% } %>
        <br>
        <br>
        <div id="root"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        $.ajax({
            method: "post",
            url: "http://localhost:3000/boardList",
            data: jsonData,
            success: (response) => {
                res = json.parse(response)
                
            }
        })

    </script>
    </body>
</html>